article#about
	header
		!=partial('search_field')

	div#about-profile-area
		div.profile
			div#image
				img.profile-image(src='/img/about/about.png')
			div.profile-description
				p Bacharel em Sistemas de Informação, Pós Graduando em Engenharia de Software e Mestrando em Computação Aplicada na Universidade do Estado de Santa Catarina (UDESC).


				ul.social
					li 
						a(href='https://www.facebook.com/guidefreitas')
							img.social-icon(src='/img/icons/facebook.png')
					li 
						a(href='http://twitter.com/guidef')
							img.social-icon(src='/img/icons/twitter.png')
					li 
						a(href='http://www.linkedin.com/pub/guilherme-defreitas-juraszek/24/331/2a3')
							img.social-icon(src='/img/icons/linkedin.png')
					li 
						a(href='https://github.com/guidefreitas')
							img.social-icon(src='/img/icons/github.png')
					li 
						a(href='callto://guilherme.defreitas')
							img.social-icon(src='/img/icons/skype.png')

		div.contact
			form

	div#contact-form-area
		form.contact-form(name='contact', method='post', action='/about/message')
			fieldset
				label Nome
				span
					input(name='name', class='text-input')
			fieldset
				label Email	
				span
					input(name='email', class='text-input')



			fieldset
				label Mensagem	
				span
					textarea#text(name='message', placeholder='', type='text', cols='40', rows='6')

			fieldset
				input(type="submit", class='button-normal', name='send', value='Enviar')
