!!! 5
html(lang="en")
	head
		title =pageTitle
		!= css('app')
		!= css('raphaelicons')
		!= js('jquery-1.7.2.min')
		!= js('app')
	body.site-page
		img#canvasSource(src='img/bg2.jpg', alt='Canvas Source')

		canvas.blur#bgcanvas
		div.wrapper
			!=partial('menu')
			!= body