!!! 5
html(lang="en")
	head
		title= pageTitle
		meta(charset='UTF-8')
		meta(name="apple-mobile-web-app-capable", content="yes")
		!= css('app2')
		!= css('prettify')
		| <!--[if lte IE 8]>
		!= js('modernizr')
		| <![endif]-->
		!= css('raphaelicons')
		!= js('jquery-1.7.2.min')
		!= js('app')
		!= js('prettify')
	body.site-page
		img#canvasSource(src='img/bg2.jpg', alt='Canvas Source')

		canvas.blur#bgcanvas
		div.wrapper
			!=partial('menu_admin')
			
			!= body