!!! 5
html(lang="en")
	head
		title= pageTitle
		meta(charset='UTF-8')
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="viewport", content="initial-scale=1.0; maximum-scale=1.0; user-scalable=0;")
		meta(http-equiv="X-UA-Compatible", content="chrome=1")
		!= css('app2')
		| <!--[if lte IE 9]>
		!= js('html5shiv')
		!= js('modernizr')
		| <![endif]-->
		!= css('raphaelicons')
		!= css('http://releases.flowplayer.org/5.0.0/skin/minimalist.css')
		!= css('prettify')
		!= js('jquery-1.7.2.min')
		!= js('underscore-min')
		!= js('http://releases.flowplayer.org/5.0.0/flowplayer.min.js')
		!= js('prettify')
		!= js('app')


	body.site-page
		div.wrapper
			!=partial('menu')
			!= body
			!=partial('analytics')

		