!!! 5
html(lang="en")
	head
		title =pageTitle
		meta(charset='UTF-8')
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(http-equiv="X-UA-Compatible", content="chrome=1")
		| <!--[if gt IE 7]>
		!= css('app')
		| <![endif]-->
		| <!--[if lte IE 7]>
		!= css('app_ie')
		| <![endif]-->
		!= css('raphaelicons')
		!= css('http://releases.flowplayer.org/5.0.0/skin/minimalist.css')
		!= js('jquery-1.7.2.min')
		!= js('underscore-min')
		!= js('http://releases.flowplayer.org/5.0.0/flowplayer.min.js')
		!= js('app')

	body.site-page
		img#canvasSource(src='/img/bg2.jpg', witdh="300", height="200")
		canvas.blur#bgcanvas
		div.wrapper
			!=partial('menu')
			!= body
			!=partial('analytics')

		