!!! 5
html(lang="en")
	head
		title =pageTitle
		meta(name="apple-mobile-web-app-capable", content="yes")
		!= css('app')
		!= js('jquery-1.7.2.min')
		!= js('app')
	body.site-page

		canvas.blur#bgcanvas
		div.wrapper
			!=partial('menu')
			!= body