header.site-header
	a.site-logo(href='/') Guilherme Defreitas
	ul.menu
		li 
			a(href='/') Blog 
		li 
			a(href='/projects') Projetos
		li 
			a(href='/about') Sobre
		li
			a#search-button(href="#") 
				| <span class="icon">z</span>
		li
			a(href="/rss.xml") 
				| <span class="icon">Æ</span>

				