div
	header.site-header
		nav
			a.site-logo(href='/') Guilherme Defreitas
			ul.menu
				li 
					a(href='/admin/posts') Posts  
				li 
					a(href='/admin/media') Media
				li 
					a(href='/admin/messages') Messages 
				li
					a(href='/admin/projects') Projects
				li 
					a(href='/logout') 
						| <span class="icon">v</span>

		