@font-face {font-family:
    'RaphaelIcons';
    src:url('http://www.guidefreitas.com/fonts/raphaelicons-webfont.eot');
    src: url('http://www.guidefreitas.com/fonts/raphaelicons-webfont.eot?#iefix') format("embedded-opentype"), url('http://www.guidefreitas.com/fonts/raphaelicons-webfont.woff') format('woff'), url('http://www.guidefreitas.com/fonts/raphaelicons-webfont.ttf') format('truetype'), url('http://www.guidefreitas.com/fonts/raphaelicons-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    font-family: 'RaphaelIcons';
    font-size: 1.1em;
    position: relative;
    top: 0.1em;
}
