article
	header
	div.content
		form.login-form(name='login', method='post', action='/login')
			fieldset
				p
					label Usuário
				span
					input(name='user[username]', class='text-input')
			fieldset
				p
					label Senha
				span
				input(type='password', class='text-input', name='user[password]')

			fieldset
				input(type="submit", class='btn_login', name='login', value='Login')

			p
				=notice