article.blog
	header
		ul
			li 
				h1 
					a(href='#') Blog
	
	div.content

		- if (posts.length == 0)
			p 'Nenhum post'
		- else
			ul
				- each post in posts
					li
						section
							h2 
								a(href='/'+post.urlid)!= post.title

							p!= md.parse(post.body)
								
								
									
