article.blog
	header
		ul
			li 
				h1 
					a(href='#') Blog
	
	

	- if (posts.length == 0)
		div.content
			p 'Nenhum post'
	- else
		- each post in posts
			div.content
				section
					h2 
						a(href='/'+post.urlid)!= post.title

					p!= md.parse(post.body)
								
								
									
