article.blog
	header
		form#search-form(name='post', method='get', action='/search')
			input#search-field(name='q', placeholder='Search', type='text', size='20')
		ul
			li 
				h1 
					a(href='#') Blog
	
	

	- if (posts.length == 0)
		div.content
			p Nenhum post encontrado
	- else
		- each post in posts
			div.content
				section.post
					h2 
						a(href='/'+post.urlid)!= post.title
					p.meta
						!= moment(post.date).format('LL')
					p!= md.parse(post.body)
								
								
									
