extends ../layout

block content
	article#blog-search-page.blog
		header
			include ../search_field
		
		
		- if (posts.length == 0)
			div.content
				section.post
					p Nenhum post encontrado
		- else
			- each post in posts
				div.content
					section.post
						h2 
							a(href='/'+post.urlid)!= post.title
						p.meta
							!= moment(post.date).format('LL')
							
						include ../post_tags

						p!= md.parse(post.body)
			

										
									
										
