article.blog
	header
		ul
			li 
				h1 
					a(href='#') Guilherme Defreitas Juraszek
			li 
				time 12/06/2012
	
	div.content
		section
			h2 
				a(href='#') Using OpenCV 2.4 with Qt


			p Artigo de exemplo mostrando as funcionlidades do OpenCV
			
				ul
					li 1. Processamento de Imagens
					li 2. Geometrias
					li 3. Escrevendo na tela