title= pageTitle
meta(charset='UTF-8')
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="viewport", content="initial-scale=1.0; maximum-scale=1.0; user-scalable=0;")
meta(http-equiv="X-UA-Compatible", content="chrome=1")

| <!--[if lte IE 9]>
| <![endif]-->
!= css('css/style.css')
| <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:300,400,700'>
!= js('js/jquery-1.7.2.min')
!= js('js/app')
block head
